.benefits {
    /* border: 2px solid yellow; */
    color: #1d5871;
    padding-bottom: 100px;
    font-family: 'Inter', sans-serif;
}

.benefits > h1 {
    font-size: 3rem;
    text-align: center;
    /* border: 1px solid yellow; */
    background:linear-gradient(to right, rgb(239, 239, 239), white);
    padding-top: 30px;
    padding-bottom: 30px;
}

.benefits_points {
    /* padding-top: 20px; */
    /* border: 1px solid red; */
    /* background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRleHR1cmVzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits_points {
    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

}

.benefitsImg {
    min-width: 250px;
    max-width: 300px;
    /* border: 2px solid red; */
}

.benefits_pointsSection{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits_Info {
    /* border: 2px solid red; */
    width: 40%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.benefits_Underline {
    border-bottom: 3px solid #009292;
    margin: 20px;
}
.benefits_Info>h1 {
    font-size:1.5rem;
    font-weight: 300;
    /* font-style: italic; */
    margin-bottom: 10px;
    /* border: 2px solid red; */
    word-wrap: break-word;
}

.benefits_Info > span {
    font-size: 2rem;
    font-weight: 900;
}

.benefits_Sathi {
    display: flex;
    background-color: rgba(255, 255, 255, 0.552);
    
}
.benefits_Tsm {
    background: linear-gradient(to left, rgba(239, 239, 239, 0.633), rgba(255, 255, 255, 0.864));
}
.benefits_Merchant {
    background: linear-gradient(to left, rgba(239, 239, 239, 0.759), rgba(255, 255, 255, 0.782));
}

@media (max-width: 480px) {
    .benefits {
        margin-top: -70px;
    }
    .benefits_pointsSection{
        flex-direction: column;
    }
    .benefits > h1{
        font-size: 1.5rem;
        /* border: 1px solid red; */
        padding-top: 100px;
    }

    .benefits_Info {
        justify-content: space-around;
        /* border: 2px solid red; */
        height: 100%;
        width: 90%;
    }
    .benefits_Info > h1 {
        font-size: 1rem;
        /* text-indent: 20px; */
    }

    .benefits_Info > span {
        font-size: 1.3rem;
        width: 90%;
        text-align: center;
        /* border: 1px solid red; */
    }
}


.homebody{
    overflow:hidden;
}