.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.833), rgba(0, 0, 0, 0.773)), url("https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    /* color: rgb(0, 85, 0); */
    color: white;
    font-family: 'Inter', sans-serif;
    /* border: 2px solid purple; */
}

.footerBottom {
 text-align: center;
 border-top: 1px solid #009292;
 /* border: 2px solid red; */
 padding-top: 20px;
 padding-bottom: 20px;
 margin-top: 40px;
 display: grid;
 grid-template-columns: auto auto auto auto;
}

.footerBottom > div {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #009292;
}

.footerBottom > div> img {
    width: 100px;
    padding-left: 10px;
}

.footer__logo {
    width: 100px;
    margin-right: 10px;
}
.footer__formOptions {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: large;
}

.footer__form > button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 58, 0) ;
    border: none;
    color: #ecfff1;
    cursor: pointer;
    font-size: 1.1rem;
}

.footer__contactUs {
    color: white;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.footer__contactUsTop {
    /* border-bottom: 1px solid #009292; */
    margin-bottom: 15px;
    padding-bottom: 15px;
    /* border: 1px solid red; */
    padding-top: 10px;
}

.footer__contactUsTop > h1 {
    font-size: 1.5rem;
    font-weight: 600;
    /* color: rgb(146, 197, 146); */
}

.footer__contactUsBottom>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600    ;
}

.footer__contactUsBottom {
    width: 30%;
    /* border: 1px solid blue; */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
    

.footer__icons {
    border-radius: 50%;
    padding: 5px;
    margin: 4px;
}
.footer__icons:hover {
    transform: scale(1.3);
}

.footer__addressBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid red; */
}

.top1 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 40px;
    width: 10%;
}


.top{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid green; */
}




.top3 {
    width: 30%;
    text-align: center;
    padding-top:10px;
    /* border: 1px solid red; */
}

.footerBottom_tcpp {
    /* border: 2px solid red; */
    margin:4px;
    padding-left: 10px;
    border-left :1px solid #009292;
}

.follow_names {
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.follow_names > a {
    /* padding-right: 10px; */
    /* border-right: 1px solid rgb(0, 58, 0); */
    text-decoration: none;
}

.follow_names  a:nth-child(1):hover {
    /* background-color: #2e66df; */
    color: rgb(0, 110, 255);
}
.follow_names  a:nth-child(2):hover {
    /* background-color: white; */
    color: #2e66df;
}
.follow_names  a:nth-child(3):hover {
    color: rgb(255, 115, 0);
}
.follow_names  a:nth-child(5):hover {
    color: red;
}

.whatsapp_widget_wrapper {
    bottom: 100px!important;
    /* border: 2px solid red; */
    width: 50px;
}

.footer__copyright {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_empl {
        text-decoration: none;
        background: linear-gradient(to right, #009292, #1d5871);
        border-radius: 5px;
        text-align: center;
        margin: auto;
        padding: 5px;
}
.footer_empl:hover {
    background: linear-gradient(to right, #1d5871, #009292);
}


.footer_flexbox{
    display: flex;
    flex-direction: column;
}

.footer_ql {
    /* border: 2px solid red; */
    height: 100%;
    width: 25%;
}

.footer_divs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    height: 100%;
}
/* .footer_divs > a > span {
    border: 2px solid purple;
} */
.footer_divs span {
    /* border: 2px solid violet; */
    letter-spacing: 2px;
}

.footer_ql span {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.footer_benefits {
    /* border: 2px solid green; */
    width: 25%;
    height: 100%;
}


.footer_lastbox {
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
}

.footer_lastbox .marg {
    margin: 10px;
}

.padd {
    padding: 10px;
}

.footer h1 {
    font-weight: 700;
    font-size: 1.2rem;
    color: #00b6b6;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #1d5871; */
    letter-spacing: 2px;
}

.footer .top p {
    color: #00b6b6;  
    font-weight: 300;    
} 
.footer .top span {
    color: #00b6b6;
    font-weight: 300;    
} 
/* .footer_follow {
    border: 2px solid yellow;
}

.footer_address {
    border: 2px solid purple ;
}
.footer_contact {
    border: 2px solid orangered ;
} */


.footer_follow .MuiSvgIcon-root:hover {
    color: #00b6b6;
}

    @media (max-width: 600px) {
        .footer{
            height: 100%;
        }

        .footer h1 {
            font-size: 1.3rem;
        }
    
        .top {
            flex-direction: column;
    
            /* align-items: center; */
            /* border: 2px solid blue; */
    
        }
    
        .top3 {
            width: 90%;
        
        }
    
        .footerBottom {
            width: 100%;
            font-size: 0.7rem;
            /* border: 2px solid blue; */
            grid-template-columns: auto auto;
        }
    
        .footer__contactUsBottom {
            width: 90%;
        }
    
        .footer_ql {
            width: 100%;
            text-align: center;
            padding-bottom: 25px;
            border-bottom: 1px solid #00b6b6;
        }
    
        .footer_lastbox {
            width: 100%;
            /* border: 2px solid red; */
            align-items:center;
            text-align: center;
            letter-spacing: 2px;
        }
        .marg {
            /* border-bottom: 1px solid #00b6b6; */
            width: 100%;
        }

        .footer_benefits{
            width: 100%;
            text-align: center;
            padding-bottom: 25px;
            border-bottom: 1px solid #00b6b6;
        }

        .footer_follow .MuiSvgIcon-root {
            /* border: 2px solid white; */
            margin: 5px;
        }
    }